:root{
  --p:14px;
  --c1:purple;
  --c2:white;
  --cDelete:#ffd3b9;
  --cCancel:#eee;
  --cSave:#c4f5c4;
  --cLight:#aa58d2;
  --cComments: #5c9f2e;
  --canW: min(800px,95vw);
}

body{
  font: 23px/1.5em "hanken","liberation sans narrow",sans-serif;
  background-color: #f3edf5;
}
#app {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.canvas-box{
  position: relative;
  border: 1px solid #eee;
  width: var(--canW);
  height:var(--canW);
  box-shadow: 0 0 10px #ccc;
}
header{
  padding:0 20px;
  color: var(--c1);
  height: var(--headerH);
}
header, header ul, .tools{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
header ul{
  width: min(250px,20%);
}
.tools{
  padding:0 20px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: calc(50% - var(--canW) / 2 - 200px);
  top: 15%;
  width: 200px;
}

.tools li{
  margin-bottom: var(--p);
}
.tools button, .tools .button{
  padding-left:2.5em;
  background-repeat: no-repeat;
  background-position: .3em center;
  background-size: 1.7em;
}
.tools .clear{background-image: url(../img/clear.svg);}
.tools .new-edge{background-image: url(../img/link.svg);}
.tools .pre-download{background-image: url(../img/download.svg);}
.tools .help{background-image: url(../img/help.svg);}
.tools .rename{background-image: url(../img/rename.svg);}
.tools .delete{background-image: url(../img/delete.svg);}
.tools .gallery{background-image: url(../img/gallery.svg);}

.message{
  position: absolute;
  left: calc(50% - var(--canW) / 2 - 220px);
  top: 15%;
  width: 200px;
  color: var(--cComments);
  background: var(--c2);
  border-radius: 10px;
  padding:3px 10px;
}

section{
  min-height: 100vh;
  color:var(--c1);
}
section .inner{
  width: var(--canW);
  margin: 0 auto;
}
#help{
  background-image: linear-gradient(to bottom, transparent, #eee );
}
.back{
  margin: 5vh 0 var(--p) 0;
  text-align: center;
  display: block !important;
}
h2{
  text-align: center;
  margin:10vh 0 var(--p) 0;

}
h3{
  margin: calc(var(--p) * 2) 0 10px 0;
  border-bottom:2px solid var(--c1);
}
.popup{
  display: none;
  position: absolute;
  top:0;
  left:0;
  justify-content: center;
  align-items: center;
  z-index: 299;
  width: 100%;
  height: 100%;
  background: #641a5f8f;
  font-weight: 200;
}
.popup-inner{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background:var(--c2);
  box-shadow:0 0 10px #ccc;
  border-radius:10px;
  padding:20px;
  width: min(100%,300px);
}
.popup-inner p, .popup-inner input[type=text]{
  width: 100%;
  margin-bottom:20px;
}
.popup-inner input[type=text]{
  font-size: inherit;
}
body.linking canvas{
  cursor: crosshair;
}

.vis-manipulation, .vis-edit-mode, .vis-close{
  display: none!important;
}
button, .button{
  background:var(--c2);
  color: var(--c1);
  padding:10px 10px 8px 10px;
  border:0;
  font-size: .7em;
  font-family: inherit;
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1em;
  display: inline;
}
:disabled{
  visibility: hidden;
}
.save{
  background:var(--cSave);
}
.cancel{
  background:var(--cCancel);
}
.delete{
  background: var(--cDelete);
}
.gallery main{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 5em;
}
.gallery header{
  width: 100%;
  position: fixed;
  top: 2em;
  left: 0;
  justify-content: center;
  align-items: center;
}
.gallery header .button{
  border:1px solid lightgray;
}
.gallery img{
  width: min(90%, 600px);
  box-shadow: 0 0 10px #ccc;
  margin: var(--p);
}

@media only screen and (max-width: 1400px) {
  body{
    font-size: 18px;
    line-height: 1.2em;
  }
  .tools, .message{
    position: static;
    width: var(--canW);
  }
  #app{
    align-content: flex-start;
    margin: var(--p) 0;
    min-height: auto;
  }
  .canvas-box{
    margin:var(--p) 0;
  }
  .tools{
    padding: 0;
  }
  .button, button{
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

button:hover, .button:hover{box-shadow:0 0 5px #80008077;}
button:active, .button:active{box-shadow:none;filter:brightness(.8);}
a:hover{filter: saturate(1.2);}
a{color:var(--c1);}
::selection{background-color: var(--c1); color: var(--c2)};