@font-face {
    font-family: 'Hanken';
    src: url('Hanken-Light.woff2') format('woff2'),
        url('Hanken-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hanken';
    src: url('Hanken-Book.woff2') format('woff2'),
        url('Hanken-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

